@import url('https://fonts.googleapis.com/css?family=Pirata+One');

.ScoreHead 
{
    text-align: center;
    color: #9A0307;
    font-family: 'Pirata One', cursive;

}

.HighscoreHead 
{

    text-align: center;
    color: #9A0307;
    font-family: 'Pirata One', cursive;

}